html {
  background-color: rgb(233, 233, 233);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
  margin: auto;
  min-height: 90vh;
  max-width: 38rem;
  padding: 2rem;
  padding-top: 1rem;
}

a, button {
  cursor: pointer;
}

h1 {
  text-align: center;
}

hr {
  width: 90%;
  border-top: 2px solid rgb(92, 92, 92);
}

/* Transition */
.add-item, .card, .item-btn p, .popup, .edit {
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
}

/* main */
.main {
  margin-bottom: 10px;
}
.add-item {
  color: whitesmoke;
  background-color: #1775D9;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  padding: 10px;
  padding-right: 20%;
  padding-left: 20%;
}
.blue:hover {
  background-color: #2d8aee;
}
.red {
  background-color: red;
}
.red:hover {
  background-color: rgb(255, 62, 62);
}
.inline {
  display: inline;
}

/* Each card */
.card {
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.card:hover {
  border: 1px solid rgba(0, 0, 0, 0.74);
  background-color: rgba(250, 245, 215, 0.836);
}
.card #text, .item-btn {
  cursor: pointer;
}

/* item button */
.item-btn {
  position: absolute;
  right: -1px;
  top: 3px;
  display: none;
}
.item-btn > p {
  background-color: white;
  padding: 3px;
  margin: 0px;
  height: 30px;
  display: inline;
  border: 1px solid rgba(0, 0, 0, 0.74);
}
#edit:hover {
  background-color: #007bff;
  color: white;
}
#copy:hover {
  background-color: #ffc107;
}
#remove:hover {
  background-color: #dc3545;
}
#remove {
  border-top-right-radius: 10px;
}
/* popup */
.popup, .edit {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}
.popup_container {
  background-color: rgb(231, 231, 231);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border-radius: 15px;
  width: 500px;
  margin: 5% auto;
  padding: 20px;

  /* lovely border */
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.popup_container p {
  margin-top: 0px;
  font-size: larger;
  text-align: center;
}

.popup_container input {
  font-size:20px;
  width: 90%;
  margin: 5% auto;
  padding: 5px 10px;
  border-radius: 4px;
}
